@page "/"
@using StudentAPI.Models
@using StudentsClient.Services
@inject ApiService apiService

<PageTitle>Home</PageTitle>




<h2>Students</h2>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul style="list-style-type: none;">
        @foreach (var student in students)
        {
           <li>Name - @student.Name</li>
           <li>Age - @student.Age</li>
           <br />
        }
    </ul>
}

@code {
    private List<Student> students;

    protected override async Task OnInitializedAsync()
    {
        students = await apiService.GetStudentsAsync();
    }
}
